<h3>Edit <%= @anime.title %></h3>

<form action="/animes/<%= @anime.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <div class="input-field">
        <input type="text" name="anime[title]" id="title" value="<%= @anime.title %>">
        <label for="title">Title</label>
    </div>
    <div class="input-field">
        <input type="text" name="anime[release_year]" id="release_year" value="<%= @anime.release_year %>">
        <label for="release_year">Release Year</label>
    </div>
    <div class="input-field">
        <input type="text" name="anime[episode_count]" id="title" value="<%= @anime.episode_count %>">
        <label for="episode_count">Number of Episodes</label>
    </div>
    <div class="input-field">
        <input type="text" name="anime[genre]" id="genre" value="<%= @anime.genre %>">
        <label for="genre">Genre</label>
    </div>

    <input type="submit" value="Edit Anime" class="btn purple darken-3">
</form>
