<h3><%= @anime.title %></h3>
<p>Year Of Release: <%= @anime.release_year %></p>
<p>Number Of Episodes: <%= @anime.episode_count %></p>
<p>Genre: <%= @anime.genre %></p>

<% if @anime.user == current_user %>
  <div class="owner-links">
    <a href="/animes/<%= @anime.id %>/edit" class="btn-small purple darken-3">Edit</a>
  </div>
<% end %>